/* =========================================================
   Étudiants : Tahfi Hamza (20337357) / Jackson Ho
   Fichier CSS unique pour tout le site
   ========================================================= */
<<<<<<< HEAD
=======

/* Site Navigation Bar */
.site-nav {
  height: 100px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.site-nav a {
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  min-width: 10%;
  align-content: center;
  text-align: center;
  padding-right: 2px;
  padding-left: 2px;
  color: black;
  background-color: white;
  border-right: 2px solid black;
  overflow-wrap: break-word;
  inline-size: 150px;
}

.site-nav a:hover,
a.actif {
  background-color: lightgray;
}

.site-nav a:hover.actif {
  background-color: #a1a1a1;
}

>>>>>>> 42f8d53157b670a02ba5fdc1241a6b36201376a5